spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/subscription_tracker
    username: postgres
    password: prady2718

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080

jwt:
  secret: rJ6bX9uF3mV8QkL2wYcT1pNz7Hs4dEaU0iGvB5xMtRs=
  expiration: 86400000

app:
  jwtRefreshExpirationMs: 6040800000