spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/subscription_tracker
    username: postgres
    password: prady2718

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080